/* body {
  background-color: blue;
} */
.bg-img1 {
  background-color: #000;
  background-size: cover;
  background-image: url(https://wallpaperaccess.com/full/115002.jpg);
}
.bg-img2 {
  background-color: #000;
  background-size: cover;
  background-image: url(https://wallpaperaccess.com/thumb/8625509.jpg);
}
.bg-img3 {
  background-color: #000;
  background-size: cover;
  background-image: url(https://wallpaperaccess.com/thumb/8051222.jpg);
}
